/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
.c-link {
  @apply
   hover:text-red-500
  transition
  duration-500
  ease-in
}
.c-menu {
  @apply
  text-white
  fixed
  flex
  flex-col

  items-center
  bg-gray-900
  bg-opacity-90
  text-base
  font-semibold
  z-30
  top-0
  left-0
  w-full
  h-full
  md:flex-row
  md:static
  md:bg-transparent
  md:text-black
  md:w-auto
}
